target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


**.flattened-pom.xml

###Vaadin Client
client/target/
client/.idea/
client/.vscode/
client/.settings
client/.project
client/.classpath

client/*.iml
client/.DS_Store

# The following files are generated/updated by vaadin-maven-plugin
client/node_modules/
client/src/main/frontend/generated/
client/vite.generated.ts
